<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>

    <!-- bean definitions here -->
<bean id="triangle" class="com.rtc.SpringCoreRtc.Triangle" init-method="init" destroy-method="destroy">
    <property name="pointB" ref="point2"/>
    <property name="pointC" ref="point3"/>
</bean>

    <bean id="pointA" class="com.rtc.SpringCoreRtc.Point">
        <constructor-arg value="0"/>
        <constructor-arg value="0"/>
    </bean>

        <bean id="point2" class="com.rtc.SpringCoreRtc.Point">
            <constructor-arg value="2"/>
            <constructor-arg value="3"/>
        </bean>
        <bean id="point3" class="com.rtc.SpringCoreRtc.Point">
            <constructor-arg value="4"/>
            <constructor-arg value="2"/>
        </bean>

<!--    <bean class="com.rtc.SpringCoreRtc.beanPostCreation"/>-->
</beans>